In [2]:
import pandas

In [3]:
dicionario = {'numeros':[1,2,3,4,5,6,7,8,9,10],
              'palavras':['um','dois','tres','quatro','cinco','seis','sete','oito','nove','dez']}

In [4]:
dataframe = pandas.DataFrame(data=dicionario)

In [8]:
print(type(dataframe))

<class 'pandas.core.frame.DataFrame'>

In [5]:
display(dataframe)

   numeros palavras
0        1       um
1        2     dois
2        3     tres
3        4   quatro
4        5    cinco
5        6     seis
6        7     sete
7        8     oito
8        9     nove
9       10      dez

In [6]:
time_series = dataframe['numeros']

In [9]:
print(type(time_series))

<class 'pandas.core.series.Series'>

In [7]:
display(time_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: numeros, dtype: int64

In [13]:
dataframe.shape[0]

10

In [15]:
for numero_de_linhas in range(dataframe.shape[0]):
    for numero_de_colunas in range(dataframe.shape[1]):
        print(dataframe.iloc[numero_de_linhas,numero_de_colunas])

1
um
2
dois
3
tres
4
quatro
5
cinco
6
seis
7
sete
8
oito
9
nove
10
dez

In [16]:
for numero_de_linhas in range(dataframe.shape[0]):
    for nome_da_coluna in dataframe.columns:
        print(dataframe.loc[numero_de_linhas,nome_da_coluna])

1
um
2
dois
3
tres
4
quatro
5
cinco
6
seis
7
sete
8
oito
9
nove
10
dez